.jumbotron {
  background-color: dimgrey;
  color: white;
}

body {
  background-image: url("./backgroundimage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-header {
  background-color: slategrey;
  color: white;
}

.card-body {
  background-color: whitesmoke;
}

.card {
  margin: 20px;
}
